# Bytecode Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Controle de versão
.git/
.gitignore

# Secrets
.env
*.env

# Ambientes virtuais
env_ci_test/
venv/
.venv/

# Testes
tests/
pytest.ini
.pytest_cache/

# Notebooks
*.ipynb
.ipynb_checkpoints/
notebooks_p2/

# Arquivos temporários do exercício
arquivo_host.txt

# Docker/Compose que não precisa ir para dentro da imagem da API
docker-compose.yml
nginx.conf
README_docker.md

# O próprio dockerignore
.dockerignore
